/**
* @file 
* @date 2022-08-24
* @author liaoli
* @lastModify liaoli 2022-08-24
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */

.alert_box {
    .alert_body {
        overflow: hidden;

        .alert_container {
            padding: 2.4rem;
        }
    }
}

.createJobs_container {
    height: 100%;
    color: $neutral_700;

    .createJobs_title {
        @include c_h_4();
        color: $neutral_700;
    }

    .createJobs_tips {
        @include body_1;
        margin-top: 0.8rem;
        margin-bottom: 3.2rem;
        color: $neutral_300;
    }

    .createJobs_optionsTitle {
        @include c_h_6();
    }

    .jobName,
    .jobData_source {
        @include c_h_6();
        color: $neutral_600;
    }

    .jobData_source {
        margin-bottom: 0.4rem;
    }

    .jobName_input {
        box-sizing: border-box;
        width: 55.2rem;
        height: 4rem;
        margin-top: 0.8rem;
        margin-bottom: 2.4rem;
        padding: 1rem 1.6rem;
        border-radius: 0.6rem;
        border: 0.1rem solid $neutral_200;
        outline: none;

        &:hover,
        &:focus {
            border-color: $primary_400;
        }
    }

    .radio_wrap {
        margin-bottom: 0.8rem;
        margin-top: 1.2rem;
        height: 2rem;
        line-height: 2rem;
    }

    .jobData_source {

        .jobData_source__otherJob,
        .jobData_source__question {
            margin-left: 2.4rem;
        }

        .jobData_source__question {
            width: 52.8rem;
            display: flex;
            justify-content: space-between;
        }
    }

    .dropDownListV2_wrap {
        .dropDownListV2_container {

            &:hover,
            &:focus {
                border-color: $primary_400 !important;
            }
        }
    }
}

.createJobs_button {
    display: flex;
    justify-content: flex-end;
    margin-top: 4.8rem;

    button {
        padding: 0.6rem 1.6rem;
    }
}

/* <--------------------------- * SECTION1 * --------------------------- */

/* <--------------------------- * SECTION2 * --------------------------- */
.jobDescription {
    height: 100%;
    background-color: $white;

    >h2 {
        @include c_h_4();
        color: $neutral_700;
    }

    p {
        @include c_h_6();
        letter-spacing: 0.02rem;
        color: $neutral_600;
        margin-top: 3rem;
        margin-bottom: 0.8rem;
    }

    .textarea_wrap {
        width: 55.2rem;
        height: 24.8rem;
        padding: 1rem;
        border: 0.1rem solid $neutral_200;
        border-radius: 1rem;
        background-color: $bg;

        &:hover {
            border-color: $primary_400;
        }

        &:focus-within {
            border-color: $primary_600;
        }

        textarea {
            width: 100%;
            height: 100%;
            @include body_1;
            color: $neutral_500;
            border: none;
            resize: none;
            outline: none;
            background-color: transparent;
        }

        .editor_wrap {
            height: 100%;
            overflow: hidden;
            overflow-y: auto;
        }
    }

    .editConditions_editor {
        height: 100%;
        border: none;

        .textEditor_wrapper {
            width: 100% !important;
            height: 100% !important;
            padding: 0;
            padding-right: 1rem;
        }
    }

    .createJobs_backIcon {
        height: 1.6rem;
        margin-bottom: 1.8rem;
        color: $neutral_500;
        transform: rotate(180deg);
    }

    .createJobs_createButton {
        margin-top: 4.8rem;
        display: flex;
        justify-content: flex-end;
    }
}

.textEditTool_wrap {
    z-index: 100 !important;
}

.createJob_wrap {
    display: flex;
    align-items: center;
    transform: translate(0);
    transition: 0.3s all ease;

    >div {
        flex-shrink: 0;
    }

    >div:first-of-type {
        margin-right: 4.8rem;
    }
}

/* <--------------------------- * SECTION2 * --------------------------- */