/**
* @file 
* @date 2022-05-17
* @author zhuxiaojiao
* @lastModify zhuxiaojiao 2022-05-17
*/


/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */


/** Import all the reference constant after this line */

@import "~/Constant/breakPoint.scss";
@import "~/Constant/font.scss";
@import "~/Constant/color.scss";

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */


/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */


/** The demo mixin is ..........*/

@mixin demo {}


/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */


/* <--------------------------- * SECTION1 * --------------------------- */

.preparation_nav {
    flex-shrink: 0;
    height: 6.4rem;
    margin: 1.6rem 0 3.2rem;
    display: flex;
    justify-content: space-around;
    padding: 0 2rem !important;
    box-shadow: 0rem 0.2rem 0.8rem rgba(26, 26, 26, 0.08), 0rem 0.2rem 0.4rem rgba(26, 26, 26, 0.03);
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;

    &:hover {
        box-shadow: 0rem 0.4rem 0.6rem rgba(26, 26, 26, 0.06), 0rem 0.6rem 2rem -0.2rem rgba(26, 26, 26, 0.14);
    }

    .border_box {
        position: relative;

        &::before,
        &::after {
            content: "";
            width: 0.1rem;
            height: 3.2rem;
            background-color: $neutral_200;
            position: absolute;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    >div {
        width: 33.3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            @include body_1;
            color: $neutral_600;
            margin-bottom: 0.4rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            svg {
                margin-right: 0.8rem;
            }
        }

        div {
            width: calc(100% - 4rem);

            div {
                display: flex;
                align-items: center;
                color: $neutral_300;
                @include label;

                span {
                    margin-left: 0.8rem;
                }
            }
        }
    }
}


/* <--------------------------- * SECTION1 * --------------------------- */