registry=https://registry.npmmirror.com/
# //packages.aliyun.com/6322cf5c050e9c4a07a9a7c5/npm/npm-registry/:_authToken=${NPM_REGISTRY_TOKEN}
@possie-engine:registry=https://packages.aliyun.com/6322cf5c050e9c4a07a9a7c5/npm/npm-registry/
@datareachable:registry=https://packages.aliyun.com/6322cf5c050e9c4a07a9a7c5/npm/npm-registry/
# datareachable_font:registry=https://registry.npmmirror.com/
# dr_position:registry=https://registry.npmmirror.com/