/**
* @file 
* @date 2022-09-01
* @author liaoli
* @lastModify liaoli 2022-09-01
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.delView_alert {
    .delView_container {
        width: 100%;
        height: 100%;
    }

    .delView_header {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        >h2 {
            @include c_subtitle_4();
            margin-left: 1.2rem;
            color: $neutral_700;
        }

        .delView_warningIcon {
            width: 2.4rem;
            height: 2.4rem;
            color: $warning_600;
        }

    }

    .delView_main {
        padding: 0 3.6rem;

        .delView_tips {
            @include c_body_1();
            margin: 0.8rem 0 2.4rem 0;
            color: $neutral_300;
        }

        .delView_input {
            height: 4rem;
        }

        .delView_errorTips {
            @include c_label_1();
            margin-top: 0.4rem;
            opacity: 0;
            color: $danger_600;
            transition: 0.2s all linear;
        }

        .delView_error {
            border: 0.1rem solid $danger_600  !important;
        }
    }

    .delView_button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 2.6rem;
    }

    .alert_container {
        padding: 3.2rem 2.4rem 2.4rem 2.4rem;
    }
}

/* <--------------------------- * SECTION1 * --------------------------- */