/**
* @file 
* @date 2022-09-30
* @author liaoli
* @lastModify liaoli 2022-09-30
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.dataBriefing_Loading {
    display: flex;
    width: 100%;
    height: calc(100vh - 30rem);

    >div:nth-child(1) {
        flex: 1;
    }

    >div:nth-child(2) {
        flex: 2;
    }
}

/* <--------------------------- * SECTION1 * --------------------------- */