/**
* @file 
* @date 2021-12-23
* @author zhuxiaojiao
* @lastModify zhuxiaojiao 2021-12-23
*/


/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */


/** Import all the reference constant after this line */

@import "~/Constant/breakPoint.scss";
@import "~/Constant/font.scss";
@import "~/Constant/color.scss";

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */


/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */


/** The demo mixin is ..........*/

@mixin demo {}


/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */


/* <--------------------------- * SECTION1 * --------------------------- */

.dataProcessingDetail_container {
    background-color: $primary_10;
    border: 0.1rem solid $primary_600;
    box-sizing: border-box;
    box-shadow: -0.1rem 0.2rem 2rem rgba(0, 0, 0, 0.05);
    border-radius: 0.8rem;
    height: 100%;
    width: 100%;
}

@media (min-width: 1440) {
    .dataProcessingDetail_container {
        box-shadow: none;
    }
}

.dataProcessingDetail_empty {
    .empty_description {
        max-width: 27rem;
    }
}

.dataProcessingDetail_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    border-bottom: 0.1rem solid $neutral_200;
    padding: 0 2.4rem;

    .dataProcessingDetail_header_enter {
        >button {
            width: 6.6rem;
            height: 2.8rem;
            @include body_2;
            border-radius: 0.6rem;
        }

        >div {
            cursor: pointer;
            @include subtitle_2;
            color: $auxiliary_600;
            display: flex;
            align-items: center;

            span {
                margin-left: 0.8rem;
            }
        }

        .dataProcessingDetail_not_enter {
            background-color: $neutral_300;
        }

        .dataProcessingDetail_notEnter {
            color: $neutral_300;
        }
    }

    >svg {
        font-size: 2rem;
        color: $primary_600;
        cursor: pointer;
    }
}

.diatributionDetail_loading {
    margin: 5rem auto;
}

.dataProcessingDetail_content {
    @include body_2;
    color: $display_font;
    padding: 2.4rem 1rem;

    >div {
        overflow: hidden;
        padding: 0 1.4rem;
        margin-bottom: 1.6rem;
    }

    >div h2 {
        @include subtitle_2;
        color: $neutral_600;
        margin-bottom: 0.4rem;
        white-space: nowrap;
    }
}

.dataProcessingDetail_contentOne,
.dataProcessingDetail_contentTwo {
    >p {
        word-break: break-all;
    }
}

.dataProcessingDetail_content .dataProcessingDetail_contentThree {
    margin-bottom: 2.4rem;
}

.dataProcessing_keywordHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;

    svg {
        font-size: 1.6rem;
    }

    .keyword_addition {
        color: $primary_600;
        margin-right: 1.6rem;
    }

    .keyword_dustbin {
        color: $danger_600;
    }
}

.dataProcessing_keywordEmpty {
    display: flex;
    flex-flow: column;

    .keywordsEmpty_warningHint {
        font: $fs_r_14;
        color: $gray_3;
        line-height: 2rem;
    }
}




.dataProcessing_keywordList {
    white-space: pre-wrap;

    .distribution_keywordItem {
        box-sizing: border-box;
        display: inline-block;
        height: 2.4rem;
        line-height: 2.4rem;
        padding: 0 1.2rem;
        border-radius: 1.5rem;
        border: 0.1rem solid $display_font;
        font-size: 1.2rem;
        margin: 0 0.8rem 0.8rem 0;
        position: relative;
        max-width: 100%;

        span {
            display: inline-block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        >svg {
            font-style: normal;
            position: absolute;
            top: -0.7rem;
            right: 0;
            color: $danger_600;
        }
    }
}

.dataProcessing_addKeyword {
    position: relative;
    width: 15rem;

    input {
        width: 100%;
        height: 2.4rem;
        line-height: 2.4rem;
        outline: none;
        border: 0.1rem solid $primary_400;
        border-radius: 1.5rem;
        padding: 0 4.5rem 0 1rem;
        box-sizing: border-box;
        color: $gray_3;

        &:focus {
            border-color: $primary_600;
        }
    }

    span {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        display: flex;
        align-items: center;

        >svg {
            font-size: 1rem;
            margin-left: 0.5rem;
        }

        >svg:first-child:hover {
            color: $primary_400;
        }

        >svg:last-child:hover {
            color: $danger_600;
        }
    }
}




.questionnaire_version {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
        display: inline-block;
        line-height: 1.4rem;
        font-size: 1rem;
        transform: scale(0.9);
        padding: 0 0.8rem;
        border-radius: 1.4rem;
        border: 0.1rem solid $neutral_200;
        margin-right: 1.3rem;
        box-sizing: border-box;
        color: $neutral_300;
    }
}


/* <--------------------------- * SECTION1 * --------------------------- */