/**
* @file
* @date 2022-05-15
* @author zhuxiaojiao
* @lastModify zhuxiaojiao 2022-05-15
*/

/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */

/** Import all the reference constant after this line */

@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */

/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */

/** The demo mixin is ..........*/

@mixin demo {
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */

/* <--------------------------- * SECTION1 * --------------------------- */

.preparation_container {
    padding-bottom: 2rem;

    > div:not(:first-of-type) {
        box-shadow: 0rem 0.2rem 0.8rem rgba(26, 26, 26, 0.08),
            0rem 0.2rem 0.4rem rgba(26, 26, 26, 0.03);
        border-radius: 1rem;
        padding: 2rem;
    }

    .preparation_conditions {
        height: 20rem;
        margin-bottom: 3.2rem;
    }

    .preparation_boundQue {
        overflow: hidden;
        height: calc(100vh - 550px);
    }
}

/* <--------------------------- * SECTION1 * --------------------------- */

.preparation_boxHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;

    div {
        display: flex;
        align-items: center;
    }

    h1 {
        font: $fs_m_20;
        color: $neutral_600;
        margin-right: 1.6rem;
    }

    .preparation_menu {
        .bindQue_btn {
            width: 10.8rem;
            height: 3.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: $primary_600;
            border-radius: 6px;
            cursor: pointer;
            @include body_1;

            &:hover {
                background-color: #67cdd6;
            }

            span {
                margin-left: 0.6rem;
            }
        }

        .search_input {
            width: 22.4rem;
            height: 3.6rem;
            margin-right: 0.8rem;
            outline: none;
            color: $neutral_500;
            padding: 0.8rem 1.2rem;
            border: 0.1rem solid $neutral_200;
            border-radius: 0.6rem;
            @include body_2;

            &::placeholder {
                color: $neutral_300;
            }

            &:focus,
            &:hover {
                border-color: $primary_400;
            }
        }

        .query_icon,
        .archived_icon {
            width: 3.6rem;
            height: 3.6rem;
            justify-content: center;
            border-radius: 0.6rem;
            font-size: 1.6rem;
            color: $primary_600;
            background-color: rgba(34, 166, 179, 0.1);
            cursor: pointer;

            &:hover {
                color: $primary_400;
            }
        }

        .archived_icon {
            margin: 0 1.6rem;

            .icon_wrap {
                width: 2.2rem;
                height: 2.2rem;
            }
        }
    }
}

.preparation_conditions {
    .preparation_conditionsText {
        display: flex;

        > div {
            width: 50%;
            border: 0.06rem solid #ebebeb;
            border-radius: 0.6rem;
            height: 12rem;
            padding: 0.8rem 1.2rem;
            transition: all 0.3s;
            position: relative;

            &:hover {
                box-shadow: 0rem 0.2rem 0.8rem rgba(26, 26, 26, 0.08),
                    0rem 0.2rem 0.4rem rgba(26, 26, 26, 0.03);

                .shrink_icon {
                    opacity: 1;
                }
            }

            .shrink_icon {
                position: absolute;
                top: 1rem;
                right: 0.8rem;
                width: 2rem;
                height: 2rem;
                border-radius: 0.4rem;
                border: 0.1rem solid $neutral_200;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: all 0.3s;

                svg {
                    color: $neutral_400;
                    font-size: 1.2rem;
                }
            }
        }

        h3 {
            @include subtitle_3;
            color: $neutral_600;
            margin-bottom: 1.2rem;
        }

        .conditions {
            margin-right: 2rem;
            cursor: pointer;

            .condition_textEdit {
                height: calc(100% - 4rem);
                pointer-events: none;
                overflow: hidden;

                .textEditor_wrap {
                    background-color: transparent;
                    border: none;
                    height: 100%;
                }

                .textEditor_wrapper {
                    width: 100% !important;
                    height: 100% !important;
                    padding: 0;
                    overflow: hidden;
                }
            }
        }

        .attachments {
            padding-left: 0 !important;
            padding-right: 0 !important;
            cursor: pointer;

            h3 {
                padding: 0 1.2rem;
            }

            p {
                padding: 0 1.2rem;
                @include body_2;
                color: $neutral_300;
            }

            .attachments_list {
                padding: 0 1.2rem;

                div {
                    display: flex;
                    align-items: center;
                    color: $neutral_400;
                    margin-bottom: 0.8rem;

                    svg {
                        margin-right: 1.6rem;
                        font-size: 1.6rem;
                        flex: 0 2.4rem;
                    }

                    .file_name {
                        flex: 1;
                        width: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        @include body_2;
                    }
                }
            }
        }
    }
}

.searchInput_jobList {
    width: 22.4rem;
    height: 18.8rem;
    padding: 0.8rem 0.4rem;
    border-radius: 0.6rem;
    box-shadow: $shadow_regular;
    background-color: #fff;
    color: #000;

    .searchJobList {
        list-style: none;

        > li {
            @include body_2();
            @include ellipsis;
            margin: 0.8rem 0;
            width: 100%;
            padding: 0.4rem 0.8rem;
            color: $neutral_400;
            cursor: pointer;
            border-radius: 0.6rem;

            &:hover {
                background-color: $primary_50;
            }
        }
    }
}

.preparation_boxHead {
    > div:first-child svg {
        font-size: 1.4rem;
        color: $neutral_300;
    }
}

.preparation_boundQue {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .preparation_boxHead {
        padding: 0 2rem;
    }

    .boundQue_empty {
        display: inline-block;

        .empty_description {
            color: $neutral_400;
            @include body_1;
        }
    }
}

.query_popover {
    .popover_body {
        @include body_3;
        padding: 0.8rem 1.2rem;
        width: 26.2rem;
        height: unset;
        color: #fff;
    }
}

.archived_popover {
    .popover_body {
        width: 7.9rem;
        height: 2.4rem;
        padding: 0;
        line-height: 2.4rem;
        border-radius: 0.4rem;
        text-align: center;
    }
}

.preparation_jobList {
    width: 100%;
    padding: 1.2rem 2rem;
    list-style: none;

    .jobItem {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 7.6rem;
        margin: 1.2rem 0;
        padding: 1.2rem 1.6rem;
        border: 0.1rem solid $neutral_200;
        border-radius: 1rem;
        transition: 0.3s all;
        cursor: pointer;

        .jobItem_left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            margin-right: 4rem;

            .jobItem_name {
                display: flex;
                align-items: center;

                h2 {
                    @include ellipsis;
                    @include subtitle_3();
                    margin-right: 0.8rem;
                    outline: none;
                    min-width: 0.4rem;
                    border-bottom: 0.1rem solid transparent;

                    &::selection {
                        background-color: $primary_50;
                    }
                }

                .rename_icon {
                    color: $neutral_300;
                    width: 1.6rem;
                    height: 1.6rem;
                }
            }
        }

        .jobItem_right {
            @include body_2();
            color: $neutral_400;

            .question_refresh {
                display: flex;
                align-items: center;
                width: 14.4rem;
                height: 2rem;

                > div {
                    margin-left: 1rem;
                }
            }

            .jobItem_more {
                position: absolute;
                right: 2rem;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0;

                .jobItem_moreIcon {
                    width: 2rem;
                }
            }

            .refreshTime {
                color: $auxiliary_600;
                padding: 0 0.3rem;
            }
        }

        &:hover {
            box-shadow: $shadow_small;

            .jobItem_more {
                opacity: 1;
            }

            .question_refresh {
                display: none;
            }
        }
    }
}

.preparation_jobSource {
    @include body_2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $neutral_400;

    > * {
        margin-right: 1rem;
    }

    .question_version {
        @include label;
        border: 0.1rem solid $neutral_300;
        border-radius: 1.4rem;
        padding: 0 1.2rem;
        margin-right: 0.8rem;
        color: $neutral_300;
        box-sizing: border-box;
    }
}

.job_option {
    width: 10.8rem;
    height: 18.8rem;
    padding: 0 0.4rem;
    border-radius: 0.6rem;
    background-color: #fff;
    list-style: none;
    box-shadow: $shadow-small;
    overflow: hidden;
    cursor: pointer;

    li {
        @include body_2();
        letter-spacing: 0;
        width: 100%;
        height: 2.8rem;
        padding: 0.4rem 0.8rem;
        margin: 0.8rem 0;
        color: $neutral_500;
        border-radius: 0.6rem;

        &:hover {
            background-color: $primary_50;
        }
    }
}

.job_option__notSelect {
    color: $neutral_300 !important;
    cursor: not-allowed;

    &:hover {
        background-color: #fff !important;
    }
}

@media screen and (min-width: 1440px) {
    .preparation_boundQue {
        max-height: 47rem !important;
        min-height: 30rem !important;
    }

    .conditions {
        margin-right: 2.4rem !important;
    }
}
