/**
* @file
* @date 2023-02-13
* @author zhoubin
* @lastModify zhoubin 2023-02-13
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.expressionCard_card {
    padding: 1.6rem;
    margin-top: 1.6rem;
    background-color: #fff;
    border: 0.1rem solid $neutral_200;
    border-radius: 0.6rem;
    box-sizing: border-box;
}
.expressionCard_head {
    display: flex;
    justify-content: space-between;
}
.expressionCard_cardTitle {
    @include c_h_7();
    color: $neutral_600;
}
.expressionCard_bts {
    display: flex;
    transform: translateX(0.3rem);
}
.expressionCard_add {
    @include c_body_3();
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
    color: $primary_600;
    cursor: pointer;
    user-select: none;
    svg {
        margin-right: 0.4rem;
        font-size: 1.6rem;
    }
    &__disable {
        color: $neutral_300;
    }
}
.expressionCard_delete {
    @include c_body_3();
    display: flex;
    align-items: center;
    color: $neutral_300;
    cursor: pointer;
    user-select: none;
    svg {
        margin-right: 0.4rem;
        font-size: 1.5rem;
    }
    &__active {
        color: $danger_600;
    }
}
.expressionCard_expression {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    height: 2.8rem;
    border: 0.1rem solid $neutral_200;
    border-radius: 0.4rem;
}
.expressionCard_warning {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 2.8rem;
    border-right: 0.1rem solid $neutral_200;
    svg {
        font-size: 1.6rem;
    }
}
.expressionCard_content {
    @include body_2();
    padding-left: 1.2rem;
    color: $neutral_500;
    span {
        margin: 0 0.7rem;
        font-size: 1.6rem;
    }
}
/* <--------------------------- * SECTION1 * --------------------------- */
