/**
* @file
* @date 2022-09-01
* @author liaoli
* @lastModify liaoli 2022-09-01
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
.dataBriefing_container {
    display: flex;
    flex-direction: column;
    padding-bottom: 6.4rem;
    .dataBriefing_charts {
        min-height: calc(100vh - 36.5rem);
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: visible;
        min-width: 0;
        margin-left: 2rem;
        margin-bottom: 0.8rem;

        .question_title,
        .question_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .question_header {
            margin-bottom: 2.4rem;

            h2 {
                @include c_h_5();
            }

            > div {
                display: flex;
                align-items: center;
            }

            .editViewName_icon {
                width: 1.4rem;
                height: 1.4rem;
                margin-left: 1.3rem;
                color: $primary_600;
                cursor: pointer;

                &:hover {
                    color: $primary_400;
                }
            }
        }
    }
}

.question_emptyImg {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 5.4rem);
    @include c_body_3();
    color: $neutral_300;
}

/* <--------------------------- * SECTION1 * --------------------------- */

.questionOption_kite {
    .multiDropDown_list {
        padding: 0.8rem 0.4rem;

        .multiDropDown_Item {
            @include c_body_3();
            display: flex;
            align-items: center;
            padding: 0.4rem;
            color: $neutral_400;
            border-radius: 0.6rem;

            &:hover {
                background-color: $primary_50;
            }
        }

        .multiDropDown_ItemActive {
            color: $primary_600;
        }
    }
}

// @media screen and (min-width: 1440px) {
//     .dataBriefing_charts {
//         margin-left: 2.4rem !important;
//     }
// }
