/**
* @file
* @date 2022-11-10
* @author liaoli
* @lastModify liaoli 2022-11-10
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.editStageName_alert {
    .alert_container {
        padding-bottom: 2.5rem;
    }
}

.editStageName_alertBox {
    h2 {
        @include c_h_5();
    }

    p {
        @include c_h_7();
        margin-top: 2.4rem;
        margin-bottom: 0.9rem;
    }

    .resetInput_container {
        width: 100% !important;
    }

    .editStageName_button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 4.8rem;
    }
}

.ditStageName_input {
    position: relative;
    border: 0.1rem solid $danger_600 !important;

    &:focus {
        border: 0.1rem solid $danger_600 !important;
    }

    &::after {
        position: absolute;
        content: "阶段名称重复";
        bottom: -3rem;
        left: 0;
        color: $danger_600;
    }
}

/* <--------------------------- * SECTION1 * --------------------------- */
