/**
* @file 
* @date 2021-11-18
* @author zhoubin 
* @lastModify zhoubin  2021-11-18
*/


/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */


/** Import all the reference constant after this line */

@import "~/Constant/breakPoint.scss";
@import "~/Constant/font.scss";
@import "~/Constant/color.scss";

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */


/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */


/** The demo mixin is ..........*/

@mixin demo {}


/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */


/* <--------------------------- * SECTION1 * --------------------------- */

.switchRole_alert .alert_container {
    padding: 0;
}

.switchRole_container {
    padding: 3.2rem 2.4rem;
    position: relative;
    height: 100%;
    >h1 {
        @include h_2;
        color: $neutral_700;
    }
    >P {
        @include body_2;
        color: $neutral_300;
        margin: 0.4rem 0 3.2rem;
    }
    >h2 {
        @include h_3;
        display: flex;
        align-items: center;
        svg {
            color: #1890ff;
            margin-right: 0.8rem;
        }
    }
    >span {
        display: inline-block;
        @include body_2;
        color: $neutral_500;
        margin: 0.8rem 0 3.2rem 2.8rem;
    }
}

.switchRole_btn {
    text-align: right;
    margin-top: 4rem;
    button {
        width: 8.3rem;
        height: 3.2rem;
        @include body_2;
    }
}

.switchRole_row {
    margin-bottom: 2.4rem;
    >span {
        display: block;
        margin-bottom: 0.4rem;
        @include subtitle_2;
        color: $neutral_600;
    }
    .dropDownListV2_container {
        border-color: $neutral_200;
        padding: 0 1.6rem;
        border-radius: 0.6rem;
        &:hover {
            border-color: $primary_400;
        }
        &:focus {
            border-color: $primary_600;
        }
    }
    .dropDownListV2_dropdownIcon {
        font-size: 1.2rem;
        color: $neutral_500;
    }
    .dropDownListV2_content {
        @include body_2;
        color: $neutral_500;
    }
}

.switchRole_role {
    position: relative;
    .dropDownListV2_container {
        padding-left: 4rem;
    }
    .role_icon {
        position: absolute;
        top: 3.8rem;
        left: 1.6rem;
        font-size: 1.8rem;
    }
}

.switchRole_dropDown .dropDownListV2_floatingWrap__large {
    width: 36.6rem;
    // height: 10.8rem;
    border-radius: 0.6rem;
    // padding: 0.4rem 0;
    box-shadow: 0rem 0.2rem 0.6rem rgba(26, 26, 26, 0.06), 0rem 0.3rem 1.5rem rgba(26, 26, 26, 0.1);
    .dropDownListV2_floatingLabelActive {
        background-color: $primary_50 !important;
        .dropDownListV2_labelContent {
            color: $primary_600 !important;
        }
    }
    .dropDownListV2_floatingLabels {
        padding: 0 0.4rem;
        height: 100%;
        li {
            height: 2.8rem;
            border-radius: 0.4rem;
            margin-bottom: 0.8rem;
            &:hover {
                background-color: $primary_10;
            }
        }
        .dropDownListV2_labelContent {
            color: $neutral_400;
        }
    }
}


/* <--------------------------- * SECTION1 * --------------------------- */