/**
* @file 
* @date 2022-11-09
* @author liaoli
* @lastModify liaoli 2022-11-09
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.dataProcessing_alert {

    .alert_container {
        padding: 0;
    }

    .dataProcessing_alertBox {
        padding: 2.4rem;
        padding-top: 3.2rem;

        >h2 {
            @include c_subtitle_4();
            color: $neutral_700;
        }

        >p {
            @include c_body_1();
            margin-top: 0.8rem;
            margin-bottom: 2.4rem;
            color: $neutral_300;
        }

        .dataProcessing_button {
            display: flex;
            justify-content: flex-end;
            margin-top: 3.2rem;
        }

        .textarea_wrap {
            width: 55.2rem;
            height: 24.4rem;
            padding: 1rem;
            border: 0.1rem solid $neutral_200;
            border-radius: 1rem;
            background-color: $bg;

            &:hover {
                border-color: $primary_400;
            }

            &:focus-within {
                border-color: $primary_600;
            }

            textarea {
                width: 100%;
                height: 100%;
                @include body_1;
                color: $neutral_500;
                border: none;
                resize: none;
                outline: none;
                background-color: transparent;
            }

            .editor_wrap {
                height: 100%;
                overflow: hidden;
                overflow-y: auto;
            }
        }

        .editConditions_editor {
            height: 100%;
            border: none;

            .textEditor_wrapper {
                width: 100% !important;
                height: 100% !important;
                padding: 0;
                padding-right: 1rem;
            }
        }
    }
}

/* <--------------------------- * SECTION1 * --------------------------- */