/**
* @file 
* @date 2022-03-11
* @author zhuxiaojiao
* @lastModify zhuxiaojiao 2022-03-11
*/

/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */

/** Import all the reference constant after this line */

@import "~/Constant/breakPoint.scss";
@import "~/Constant/font.scss";
@import "~/Constant/color.scss";

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */

/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */

/** The demo mixin is ..........*/

@mixin demo {
}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */

/* <--------------------------- * SECTION1 * --------------------------- */

/* <--------------------------- * SECTION1 * --------------------------- */

.upload_container {
    display: inline-block;
    position: relative;
    border: 1px dashed $neutral_300;
    border-radius: 0.6rem;
    box-sizing: border-box;
    color: $neutral_300;
}

.upload_input {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    font-size: 0rem;
    width: 100%;
    height: 100%;
}

.upload_cover {
    font: $fs_r_12;
    display: flex;
    align-items: center;
    text-align: center;
}

.upload_icon {
    text-align: center;
    font-size: 2rem;
    width: 100%;
}

.upload_text {
    max-width: 19rem;
    display: block;
    // flex-direction: column;
    margin: 0.5rem auto;
    line-height: 2rem;
    text-align: center;
    @include body_2;
}

.upload_coverContainer {
    width: 100%;
}

.upload_linkMsg {
    border: 0;
    padding: 0;
    color: $primary_variant;
    background-color: transparent;
    text-decoration: underline;
    line-height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.upload_input_hidden {
    display: none;
}

.upload_defaultIcon {
    color: $line_light;
}
