/**
* @file 
* @date 2022-11-01
* @author liaoli
* @lastModify liaoli 2022-11-01
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.dataProc_jobNav {
    @include c_body_3();
    display: flex;
    align-items: center;
    height: 2rem;
    margin: 2rem 0;
    color: $neutral_300;

    div {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    i {
        margin: 0 0.4rem;
    }
}

.dataProc_activeStep {
    color: $neutral_600;
}

/* <--------------------------- * SECTION1 * --------------------------- */