/**
* file: Modal component Style
* date: 2021-1-13
* author: Jack
* lastModify: Jack 2020-1-13
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import "~/Constant/color.scss";
@import "~/Constant/font.scss";
@import "~/Constant/breakPoint.scss";
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */

/* <--------------------------- * SECTION1 START* --------------------------- */
.modal_popMask {
    z-index: 50;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_popContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    padding: 0.2rem;
    background: $background;
}

.modal_popClose {
    align-self: flex-end;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem 1rem 0 0;
    align-self: flex-end;
    color: $line_dark;
    font: $fs_r_14;
    transition: 0.2s linear;
    cursor: pointer;
    @media screen and (max-width: $md_767) {
        margin: 1;
    }
}

.modal_popClose:hover {
    transform: scale(1.2);
}
/* <--------------------------- * SECTION1 END* --------------------------- */
