/**
* @file
* @date 2022-11-24
* @author liaoli
* @lastModify liaoli 2022-11-24
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.previewOneD_wrap {
    padding: 1.2rem 0;

    >div {
        @include c_body_3();
        display: flex;
        align-items: center;
        padding: 1.2rem 0;

        .previewOneD_select {
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1.2rem;
        }
    }

    .previewOneD_haveBorder {
        border-bottom: 0.1rem solid $neutral_200;
    }
}

/* <--------------------------- * SECTION1 * --------------------------- */
