/**
* @file
* @date 2022-11-10
* @author liaoli
* @lastModify liaoli 2022-11-10
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.stageNav_container {
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
        display: flex;
        align-items: center;

        i {
            width: 4rem;
            height: 0.1rem;
            border-top: 0.1rem dashed $neutral_200;
        }

        span {
            @include body_2();
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            margin-left: 2rem;
            border: 0.1rem solid $primary_500;
            color: $primary_500;
            background-color: #fff;
            border-radius: 50%;
        }

        P {
            @include c_body_3();
            margin-left: 0.8rem;
            margin-right: 2rem;
            color: $primary_500;
        }
    }

    .stageNav_current {
        background-color: $primary_500;
        color: #fff;
    }

    .stageNav_prev{
        background-color: $primary_50;
        border-color: $primary_50;
    }

    .icon_wrap{
        height: 0.6rem;
    }
}


/* <--------------------------- * SECTION1 * --------------------------- */
