/**
* @file 
* @date 2021-04-16
* @author zhoubin
* @lastModify  2021-04-16
*/


/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */


/** Import all the reference constant after this line */

@import "~/Constant/breakPoint.scss";
@import "~/Constant/font.scss";
@import "~/Constant/color.scss";

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */


/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */


/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */


/* <--------------------------- * SECTION1 * --------------------------- */

.gridView_container {
    position: relative;
    top: 0;
    padding: 0 2rem;
    height: 10.6rem;
    border: 0.1rem solid $neutral_200;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 2px 8px rgba(26, 26, 26, 0.08), 0px 2px 4px rgba(26, 26, 26, 0.03);
    }
}

.gridView_container:not(:first-child) {
    margin-top: 1.2rem;
}

.gridView_container_active {
    border-color: $primary_600;
    background-color: $primary_10;
    .keywords_key {
        background-color: $primary_50;
    }
}

.gridView_left {
    width: 5rem;
    .gridView_collection {
        font-size: 1.8rem;
        color: $yellow_600;
        cursor: pointer;
    }
    .gridView_unCollection {
        font-size: 1.8rem;
        color: $neutral_300;
        cursor: pointer;
        &:hover {
            color: $yellow_600;
        }
    }
}

.gridView_right {
    width: calc(100% - 5rem);
    flex: 1;
    @include body_2;
}

@media screen and (min-width: 1439px) and (max-width: 1440px) {
    .gridView_rightSectionOne {
        max-width: 44rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.gridView_rightSectionOne {
    width: 100%;
    color: $neutral_500;
    font: $fs_r_14;
    line-height: 2.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gridView_rightSectionTwo {
    color: $primary_600;
}

.gridView_rightSectionThree {
    color: $display_font;
    display: flex;
    align-items: center;
    >span:nth-child(2) {
        display: inline-block;
        width: 0;
        height: 1.6rem;
        border-left: 0.1rem solid $neutral_300;
        margin: 0 1.5rem;
    }
    >span:nth-child(3) {
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 20rem);
    }
}


/* --------------------------- * SECTION THREE END * --------------------------- */

.notBound_tag {
    @include overline;
    position: absolute;
    top: 1.2rem;
    right: -0.9rem;
    width: 5.3rem;
    height: 2.4rem;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 2.4rem;
    color: $yellow_600;
    background-color: $yellow_50;
    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: -0.6rem;
        right: 0rem;
        overflow: hidden;
        border-top: 0.7rem solid $neutral_200;
        border-right: 0.9rem solid transparent;
        z-index: -1;
        }
    >span {
        display: inline-block;
        transform: scale(0.833);
    }
}