/**
* @file
* @date 2022-08-26
* @author liaoli
* @lastModify liaoli 2022-08-26
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.archivedList_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 3.2rem;
  padding-right: 0.8rem;

  .scroll_scrollContainer {
    padding-right: 2.4rem;
    // overflow: visible;

    // .scroll_scrollBody {
    //   overflow: visible
    // }
  }

  >h2 {
    @include c_h_4();
    color: $neutral_700;
  }

  .archivedList_search {
    display: flex;
    justify-content: flex-end;
    margin-right: 2.4rem;

    .archivedList_searchBox {
      display: flex;
      width: 28.3rem;
      height: 3.6rem;
      margin-top: 0.8rem;
      margin-bottom: 2.4rem;
      padding: 0.4rem;
      border: 0.1rem solid $neutral_200;
      border-radius: 0.6rem;

      .archivedList_searchInpt {
        @include body_2();
        flex: 1;
        outline: none;
        border: none;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        color: $neutral_500;

        &::placeholder {
          color: $neutral_300;
        }
      }

      .searchIcon_box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.8rem;
        height: 2.8rem;
        background-color: rgba($color: $primary_600, $alpha: 0.1);
        border-radius: 0.6rem;

        .archivedList_searchIcon {
          width: 1.4rem;
          height: 1.4rem;
          color: $primary_600;
        }
      }


    }
  }
}

.archivedList_alert {
  .alert_container {
    padding: 0;
    margin-bottom: 2.6rem;
  }
}

.archivedList_searchList {
  width: 28.3rem;
  list-style: none;
  max-height: 21.6rem;
  padding: 1.2rem 0.4rem;
  background-color: #fff;

  >li {
    @include c_h_7();
    @include ellipsis;
    width: 100%;
    height: 3.2rem;
    padding: 0.6rem 0.8rem;
    border-radius: 0.6rem;
    color: $neutral_400;
    cursor: pointer;

    &:hover {
      background-color: $primary_50;
    }
  }
}

.archivedList_hover {
  &:hover {
    box-shadow: $shadow-small;
    border-color: transparent;
    border-radius: 0.4rem;
  }
}

.archivedList {
  list-style: none;

  .archivedItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5.3rem;
    margin-bottom: 1.2rem;
    padding: 0 3.4rem 0 2.5rem;
    border: 0.1rem solid $neutral_200;
    border-radius: 0.6rem;
    color: $neutral_200;
    cursor: pointer;
    transition: 0.3s all;



    &:hover .archivedItem_restore {
      opacity: 1;
    }

    .archivedItem_info {

      display: flex;
      align-items: center;

      .archivedItem_linkIcon {
        width: 1.6rem;
        height: 1.6rem;
        color: $neutral_400;
      }

      .archivedItem_name {
        @include c_body_3();
        @include ellipsis;
        flex-shrink: 0;
        width: 29.5rem;
        margin-left: 4rem;
        padding-right: 3rem;
        color: $neutral_600;
      }

      .archivedItem_source {
        @include c_body_3();
        @include ellipsis;
        max-width: 24rem;
        margin-right: 0.8rem;
        color: $neutral_400;
      }

      .archivedItem_version {
        padding: 0 1.2rem;
        height: 1.6rem;
        border: 0.1rem solid $neutral_300;
        border-radius: 1.4rem;
        color: $neutral_300;
        text-align: center;
      }
    }

    .archivedItem_restore {
      font-size: 1.6rem;
      color: $primary_400;
      opacity: 0;
      transition: .3s all;
    }
  }
}

.archivedList_scroll {
  box-shadow: $shadow_regular;
  border-radius: 0.6rem;
}

.restore_popover {
  .popover_body {
    width: 4.1rem;
    height: 2.4rem;
    line-height: 2.4rem;
    padding: 0;
    text-align: center;
  }
}

.archived_empty {
  @include c_body_3();
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $neutral_400;
}

/* <--------------------------- * SECTION1 * --------------------------- */