/**
 * @file style file of CircularProgress component
 * @date 2022-02-15
 * @author lidaoping
 * @lastModify lidaoping 2022-02-15
 */


/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */


/** Import all the reference constant after this line */

@import "~/Constant/color.scss";

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */


/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */


/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */


/* <--------------------------- * SECTION1 START * --------------------------- */


/* <--------------------------- * SECTION1 END * --------------------------- */

.circularProgress_undersideCircle {
    fill: transparent;
    stroke: $neutral_200;
}

.circularProgress_upsideCircle {
    fill: transparent;
    stroke: $primary_500;
    stroke-linecap: round;
}