/**
* @file
* @date 2022-11-24
* @author liaoli
* @lastModify liaoli 2022-11-24
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.previewOneD_row {
    display: flex;

    >div {
        @include c_h_7();
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5.6rem;
        padding: 1.8rem 2rem;
        border-bottom: 0.1rem solid $neutral_300;
        border-right: 0.1rem solid $neutral_300;
    }

    >div:first-of-type{
        flex: none;
        flex-shrink: 0;
        width: 12rem;
    }

    >div:last-of-type {
        border-right: none;
    }
}

.previewOneD_container {
    border: 0.1rem solid $neutral_300 ;
    border-radius: 0.6rem;
    overflow: hidden;

    >div:last-of-type>div {
        border-bottom: none;
    }

    >div:first-of-type,
    >div>div:first-of-type {
        background-color: $bg;
    }

    .check_wrap {
        .check_icon {
            margin-right: 0;
        }
    }

    .radio_wrap {
        .radio_icon {
            margin-right: 0;
        }
    }

}

.previewOneD_colTitle{
    flex-shrink: 0;
    width: 12rem !important;
    flex: none !important;
}

.previewOneD_main{
    overflow: hidden;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 !important;

    >div{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        overflow: hidden;
        padding: 1rem;
        border-right: 0.1rem solid $neutral_300;

        input{
            width: 100%;
            border: none;
            outline: none;
            text-align: center;
            &::placeholder{
                text-align: center;
            }
        }
    }

    >div:last-of-type{
        border: none;
    }
}

/* <--------------------------- * SECTION1 * --------------------------- */
