/**
* @file 
* @date 2021-08-26
* @author zhoubin 
* @lastModify zhoubin  2021-08-26
*/


/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */


/** Import all the reference constant after this line */

@import "~/Constant/breakPoint.scss";
@import "~/Constant/font.scss";
@import "~/Constant/color.scss";

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */


/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */


/** The demo mixin is ..........*/

@mixin hoverFocusStyle {
    &:hover {
        border-color: $primary_400;
    }

    &:focus {
        border-color: $primary_600;
    }
}


/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */


/* <--------------------------- * SECTION1 * --------------------------- */

.distributionWindow_alert {
    .alert_container {
        padding: 0;
    }
}

.dataProcessingInfoWindow_container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3.2rem 3rem 0;
    user-select: none;

    >h1 {
        padding: 0 1rem;
        @include h_2;
        color: $neutral_700;
    }

    >p {
        padding: 0 1rem;
        @include body_1;
        color: $neutral_300;
        margin-top: 0.8rem;
        margin-bottom: 3.2rem;
    }

    .dropDownListV2_container {
        @include hoverFocusStyle;
    }
}

.no_roles {
    color: $neutral_400;
    margin-top: 3rem;
    @include body_2;
}

.dataProcessingInfoWindow_title {
    display: block;
    margin-bottom: 1rem;
    font: $fs_m_16;
    color: $neutral_600;
}

.role_wrap {
    position: relative;

    .role_icon {
        position: absolute;
        top: 4.3rem;
        left: 1.6rem;
        font-size: 1.8rem;
    }

    .dropDownListV2_container {
        padding-left: 4rem;
    }
}

.dataProcessingInfoWindow_sectionOne {
    padding: 0 1rem;
    border-bottom: 0.1rem solid $neutral_200;
}

.dataProcessingInfoWindow_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    span {
        display: block;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
        border-radius: 0.4rem;
        cursor: pointer;
        margin-left: 2rem;
    }

    svg {
        color: $primary_600;
    }

    .generalInput_inputContainer {
        padding: 0 1.6rem;
        text-indent: unset;
        color: $neutral_400;
        border-color: $neutral_200;
        @include hoverFocusStyle;
    }
}

.dataProcessingInfoWindow_belong {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;

    span {
        @include body_2;
        color: $neutral_600;

        &:last-child {
            color: $neutral_300;
            margin-left: 1.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            width: calc(100% - 10rem);
        }
    }
}

.dataProcessingInfoWindow_sectionTwo {
    margin-top: 1.5rem;
    padding: 0 1rem;

    >div:nth-last-of-type(n + 2) {
        margin-bottom: 3rem;
    }
}

.dataProcessingInfoWindow_btns {
    position: absolute;
    bottom: 2.4rem;
    right: 4rem;

    >button {
        padding: 0 1.6rem;
        height: 3.2rem;
        margin-left: 0.8rem;
        border-radius: 0.6rem;
        @include body_2;
    }
}

.dataProcessingInfoWindow_noAuth {
    color: $not_activated;
}

.dropDownListV2_container {
    padding: 0 1.6rem;
    border-color: $neutral_200;

    .dropDownListV2_content>div {
        color: $neutral_400;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dropDownListV2_dropdownIcon {
        color: $neutral_500;
        font-size: 1rem;
    }
}

.drop_floating {
    background-color: pink;

    .dropDownListV2_floatingLabels {
        padding: 0 0.4rem;
    }

    .dropDownListV2_floatingLabel,
    .dropDownListV2_floatingLabelLast {
        margin-bottom: 0.8rem;
        height: 2.8rem;

        &:hover {
            background-color: $primary_10;
        }

        .dropDownListV2_labelContent {
            color: $neutral_400;
        }
    }

    .dropDownListV2_floatingLabelActive {
        background-color: $primary_50 !important;
        border-radius: 0.4rem;

        .dropDownListV2_labelContent {
            color: $primary_600;
        }
    }
}


/* <--------------------------- * SECTION1 * --------------------------- */