/**
* @file
* @date 2022-10-21
* @author zhoubin
* @lastModify zhoubin 2022-10-21
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */

.autoText_textAreaContainer {
    position: relative;
    display: inline-block;
}
.autoText_bg {
    position: absolute;
    top: 0px;
    left: 0;
    width: 50rem;
    background: linear-gradient($neutral_50 75%, $background 25%);
    background-size: 100% 34px;
    z-index: 2;
}
.autoText_txt {
    @include body_2();
    position: fixed;
    top: -1000px;
    left: -1000px;
    width: 50rem;
    padding: 0 1.2rem;
    box-sizing: border-box;
    opacity: 0;
    line-height: 3.4rem;
    min-height: 3.4rem;
    word-break: break-all;
    white-space: pre-line;
}
.autoText_textArea {
    @include body_2();
    position: relative;
    line-height: 3.4rem;
    min-height: 3.4rem;
    background: transparent;
    z-index: 3;
    transform: translateY(-5px);
    width: 50rem;
    padding: 0 1.2rem;
    color: $neutral_400;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    resize: none;
    border: none;
    word-break: break-all;
}
/* <--------------------------- * SECTION1 * --------------------------- */
