/**
* @file
* @date 2022-11-11
* @author liaoli
* @lastModify liaoli 2022-11-11
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.settingStep_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.6rem;
    border-bottom: 0.1rem solid $neutral_200;

    >div:first-of-type {
        display: flex;
        align-items: center;

        h2 {
            @include c_h_5();
            color: $neutral_600;
        }

        span {
            @include c_body_3();
            padding: 0.2rem 1.2rem;
            margin: 0 0.8rem;
            border: 0.1rem solid $neutral_300;
            color: $neutral_400;
            background-color: $neutral_100;
            border-radius: 2.4rem;
        }

        .icon_wrap {
            font-size: 1.5rem;
            color: $primary_400;
            cursor: pointer;
        }
    }

    >div:last-of-type {
        @include c_body_1();
        display: flex;
        align-items: center;
        color: $neutral_500;
        cursor: pointer;

        .icon_wrap {
            font-size: 2rem;
        }
    }
}

.settingStep_tab {
    display: flex;
    align-items: center;
    margin: 1.6rem 0;
    border-bottom: 0.06rem solid $neutral_200;

    P {
        @include c_body_1();
        margin-right: 6rem;
        padding: 0 0.4rem;
        padding-bottom: 0.4rem;
        color: $neutral_600;
        border-bottom: 0.2rem solid transparent ;
        cursor: pointer;

        &:hover {
            color: $primary_400;
        }
    }
    .settingStep_tab__select{
        border-bottom-color: $primary_600;
        color: $primary_600;
    }
}

.dropDownListsV2_content>div {
    width: 0;
}

/* <--------------------------- * SECTION1 * --------------------------- */
