/**
* @file Tool Bar style
* @date 2020-10-22
* @author Frank
* @lastModify Andy Jiang 2020-11-26
*/

/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */

/** Import all the reference constant after this line */

@import "../../Constant/breakPoint.scss";
@import "../../Constant/font.scss";
@import "../../Constant/color.scss";
@import "../../../../Constant/color.scss";

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */

/*
/*
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */

@mixin commonStyle {
    user-select: none;
    cursor: pointer;
    transition: 0.2s linear;
}

@mixin commonBorder {
    border: 1px solid $line_light;
    border-radius: 0.3rem;
}

@mixin wrap {
    padding: 0 0.8rem;
}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */

/* <------------------------------------ **** COMMON STYLE START **** ------------------------------------ */

.toolBar_wrapper {
    width: 26rem;
    height: 2.2rem;
    box-shadow: $shadow_01dp;
    background: $background;
    font: $caption;
    border-radius: 2px;
    border: 0.5px solid $neutral_200;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.toolBar_commentWrapper {
    @include commonStyle;
    width: 9rem;
    height: 100%;
    display: inline-block;
    color: $line_dark;
    border-right: 1px solid $line_light;
    &:hover {
        color: $primary;
    }
}

.toolBar_commentIcon {
    height: 100%;
    font-size: $fs_14;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.toolBar_commentContent {
    font-size: $fs_14;
    line-height: 2.2rem;
    vertical-align: top;
}

/* <------------------------------------ **** COMMON STYLE END **** ------------------------------------ */

/* <------------------------------------ **** STYLE BAR START **** ------------------------------------ */

.toolBar_styleBar {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    border-right: 0.5px solid $neutral_200;
    @include wrap();
}

.toolBar_styleBarItemWrapper {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 0.6rem;
    &:last-child {
        margin-right: 0;
    }
}

.toolBar_styleBarItem {
    height: 100%;
    text-align: center;
    color: $line_dark;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.4rem;
    height: 1.4rem;
    &:hover {
        color: $primary;
    }
    &:hover > div {
        opacity: 1;
        visibility: visible;
    }
    svg {
        font-size: 1.4rem;
    }
}

// hit style
.toolBar_styleBarHintWrapper {
    position: absolute;
    width: 7rem;
    height: 2rem;
    bottom: calc(100% + 0.6rem);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
}

.toolBar_styleBarSuccessHintWrapper {
    position: absolute;
    top: calc(100% + 0.5rem);
    width: 18rem;
    height: 4rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: $shadow_04dp;
    border-radius: 0.4rem;
    font: $fs_14;
    background: $background;
    justify-content: center;
    align-items: center;
    color: #333333 !important;
    > span {
        color: #52c41a;
        margin-right: 1rem;
        font-size: 2.3rem;
    }
}

.toolBar_styleBarHintBlock {
    width: max-content;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    background: $line_dark;
    margin: auto;
    border-radius: 0.5rem;
    color: $background;
    font-size: $fs_12;
    box-sizing: content-box;
}

.toolBar_styleBarPoint {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4.3px 2.5px 0 2.5px;
    border-color: $line_dark transparent transparent transparent;
    margin: auto;
}

// sub menu style
.toolBar_styleBarSubMenuWrapper {
    @include commonBorder;
    width: 11rem;
    background: $background;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
    box-shadow: $shadow_01dp;
    text-align: left;
    position: absolute;
    left: -1rem;
    top: 100%;
}

.toolBar_styleBarSubMenuItemWrapper {
    width: 100%;
    height: 2rem;
    color: $line_dark;
    position: relative;
    transition: 0.2s linear;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    &:hover {
        color: $background;
        background: rgba($primary_variant, 0.5);
    }
}

.toolBar_styleBarSubMenuItemIcon {
    margin-left: 0.5rem;
    margin-right: 2rem;
}

.toolBar_styleBarSubMenuItemContent {
    float: right;
    height: 2rem;
    line-height: 2rem;
    margin-right: 0.5rem;
}

.toolBar_hiddenColorSelectWrapper {
    position: absolute;
    height: 2rem;
    width: 11rem;
    background: red;
    top: 0px;
    opacity: 0;
}

.toolBar_hiddenColorSelect {
    height: 1.8rem;
    width: 10.5rem;
    cursor: pointer;
}

/* <------------------------------------ **** STYLE BAR END **** ------------------------------------ */

/* <------------------------------------ **** COLOR BAR START **** ------------------------------------ */

.toolBar_colorBar {
    height: 100%;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    @include wrap();
    border-right: 0.5px solid $neutral_200;
}

/* <------------------------------------ **** COLOR BAR END **** ------------------------------------ */

.toolBar_alignBar {
    @include wrap();
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    border-right: 0.5px solid $neutral_200;
}

.toolBar_copyBar {
    @include wrap();
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}
