/**
* @file 
* @date 2022-11-11
* @author liaoli
* @lastModify liaoli 2022-11-11
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.delStage_box {
    h3 {
        @include c_h_7();
        margin-top: 2.4rem;
        margin-bottom: 0.9rem;
        color: $neutral_500;
    }

    .resetInput_container {
        width: 100% !important;
    }
}

.delStage_header {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;

    .delStage_warning {
        margin-right: 0.8rem;
        font-size: 2.4rem;
        color: $danger_600;
    }

    h2 {
        @include c_h_5();
        color: $neutral_700;
    }
}

.delStage_tip {
    @include c_body_3();
    color: $neutral_400;
}

.delStage_remarks {
    @include c_body_3();
    color: $neutral_300;
}

.delStage_button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 4.8rem;
}

.delStage_alert {
    .alert_container {
        padding-bottom: 2.4rem;
    }
}

/* <--------------------------- * SECTION1 * --------------------------- */