/**
* @file 
* @date 2022-08-26
* @author liaoli
* @lastModify liaoli 2022-08-26
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
/* <--------------------------- * SECTION1 * --------------------------- */

.archiveJob_box {
    width: 100%;
    height: 100%;

    .archiveJob_header {
        display: flex;
        align-items: center;
        height: 2.4rem;
        margin-bottom: 0.8rem;

        .archiveJob_warning {
            width: 2.4rem;
            height: 2.1rem;
            margin-right: 0.8rem;
            color: $danger_600;
        }

        >h2 {
            @include c_h_5();
            color: $neutral_700;
        }
    }

    .archiveJob_tip {
        @include c_body_3();
        padding-left: 3.2rem;
        color: $neutral_400;
    }

    .archiveJob_remarks {
        @include c_body_3();
        padding-left: 3.2rem;
        color: $neutral_300;
    }

    >h3 {
        @include c_h_7();
        margin-bottom: 0.4rem;
        margin-top: 3.2rem;
        color: $neutral_500;
    }

    .archiveJob_statement {
        @include c_body_3();
        margin-bottom: 1.6rem;
        letter-spacing: 0.02rem;
        color: $neutral_300;
    }

    .archiveJob_button {
        display: flex;
        justify-content: flex-end;
        margin-top: 4.8rem;
    }
}

.archiveJob_alert {
    .alert_container {
        padding: 3.2rem;
        padding-bottom: 2.4rem;
    }
}