* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: unset;
}

input {
    outline: none;
}

ul,
li,
ol {
    text-decoration: none;
}

.weight {
    font-weight: 500;
    color: #212121;
}

.button_button__primary {
    background-color: #22A6B3;
}

.button_button__primary:disabled {
    background-color: #bdbdbd !important;
}

.button_button__big {
    color: #22A6B3 !important;
}

.button__button__pressed {
    box-shadow: 0rem 0.2rem 0.6rem rgba(26, 26, 26, 0.06), 0rem 0.3rem 1.5rem rgba(26, 26, 26, 0.1);
}

.alert_container {
    border-radius: 1.2rem;
    box-shadow: none;
    overflow: hidden;
    padding: 3.2rem;
}

.alert_container>svg {
    top: 2.4rem;
    right: 2.4rem;
}

.writer {
    color: #ff7745;
    /* color: $auxiliary_600; */
}

.commenter {
    color: #3cbbc7;
    /* color: $primary_500; */
}

.taskGiver {
    color: #f58e95;
    /* color: $danger_400; */
}

.reader {
    color: #5cbeff;
    /* color: $info_400; */
}