/**
* @file
* @date 2022-11-11
* @author liaoli
* @lastModify liaoli 2022-11-11
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@use '@datareachable/webpack/Constant/breakPoint.scss' as *;
@use '@datareachable/webpack/Constant/font.scss' as *;
@use '@datareachable/webpack/Constant/color.scss' as *;

/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */

.createStep_alert {
    .alert_container {
        padding-bottom: 2.5rem;
    }
}

.createStep {
    @include c_h_4();
    color: $neutral_700;
}

.createStep_tip {
    @include c_body_1();
    margin-top: 0.4rem;
    color: $neutral_300;
}

.createStep_name {
    @include c_h_6();
    margin-top: 2.8rem;
    margin-bottom: 0.8rem;
    color: $neutral_600;
}

.createStep_button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 4.8rem;
}

.createStep_input {
    width: 100%;

    .input_group {
        display: flex;
    }

    .input_group_addon {
        width: 9rem;
        height: 4rem;
        .dropDownListsV2_wrap{
            width: 9rem;

            .icon_wrap{
                margin-left: 0.8rem;
            }
        }
    }

    .input_addonafter {
        flex: 1;
        height: 4rem;
    }
}

.createStep_type {
    .kite_body {
        width: 9rem;
    }
}

.createStep_nameRepeat {
        position: relative;
        border: 0.1rem solid $danger_600 !important;
        border-radius: 0.6rem;

        &:focus {
            border: 0.1rem solid $danger_600 !important;
        }

        &::after {
            position: absolute;
            content: "步骤名称重复";
            bottom: -3rem;
            left: 0;
            color: $danger_600;
        }

        .input_group_addon,input{
            border: none !important;
            box-shadow: none !important;
        }
    }

/* <--------------------------- * SECTION1 * --------------------------- */
